// 00-jump
.cf-wrap#jump
  .cf-wrap-in
    .dsp-jmp
      .pnl-1.col-xs-12
        #pnl-a
          .pnl-a.col-xs-12.col-sm-12.text-center
            .header.col-xs-12.col-sm-6.text-center
              .logo
            .pnl-b.col-xs-12.col-sm-6.col-sm-offset-6.text-left
              blockquote
                h1.secondary
                  | The magazine that <br>
                  | explores identity <br>
                  | &amp; celebrates diversity
                p.secondary
                  | Try and fit keywords in here
              .col-xs-12
                a.icon-arrow.col-xs-12(href="#about") 
                  .icon-down-open-big.font-ic-ds.secondary  about
              .col-xs-12
                a.icon-arrow.col-xs-12(href="#read") 
                  .icon-book-dowload-streamline.font-ic-ds.secondary  read online

            .clearfix
                      
    .clearfix
