// 00-jump
.cf-wrap#jump
  .cf-wrap-in
    .pnl-c.col-sm-7
    .dsp-jmp
      .pnl-1.col-xs-12
        #pnl-a
          .pnl-a.col-xs-12.col-sm-12
            h1 ICECREAM
          .pnl-c.col-xs-12.col-sm-7
          .col-xs-12.col-sm-5
            blockquote
              h1
                | The magazine that <br>
                | explores identity <br>
                | &amp; celebrates diversity
            .col-xs-12
              a.icon-arrow.col-xs-12(href="#about") 
                .icon-down-open-big.font-ic-ds  about
            .col-xs-12
              a.icon-arrow.col-xs-12(href="#read") 
                .icon-book-dowload-streamline.font-ic-ds  read online

            .clearfix
                      
    .clearfix
