// jump
.cf-wrap#jump
  .cf-wrap-in
    .col-xs-12.title
      .col-xs-12.col-sm-6
        a(href="/") 
          .logo  
      .col-xs-12.col-sm-6.socials.text-right
        a.social(href="https://www.facebook.com/IcecreamFeministArtMagazine", target="_blank")
          span.icon-facebook-official
          | facebook  
    .col-xs-12.col-sm-8.feature
    .col-xs-12.col-sm-4.col-sm-offset-8.copy
      blockquote
        h1
          | Exploring identity <br>
          | and celebrating diversity
      .col-xs-12.link
        a.icon-arrow.col-xs-12(href="#about") 
          .icon-down-open-big.font-ic-ds  about
      .col-xs-12.link
        a.icon-arrow.col-xs-12(href="#read") 
          .icon-book-dowload-streamline.font-ic-ds  read online

      .clearfix
