// about
.cf-wrap#about
  .cf-wrap-in
    .col-xs-12.col-sm-6.col-sm-offset-6.container-fluid.feature
    .col-xs-12.col-sm-6.copy
      .container-fluid
        .col-xs-12.col-sm-9
          h1.title
            small About:
            <br>Our <br> objective
          .col-xs-12.no-padding
            p.lb IceCream magazine was founded by Katie McDougall and Serena Esiri-Bloom  in late 2014. As teenagers we felt that the mainstream media was dominated by images that did not represent us, or the diversity of the population, and in fact depicted harmful and unattainable body types. We felt that conversations on the pressures of identity and beauty were almost non-existent, that there was a gap in information available to young people that challenged negative mainstream narratives - so we decided to start filling that gap. We want cultural transformation and believe the only way that can happen is by creating alternate forms of media that represent and celebrate the diversity of humanity.
            p.lb IceCream is a youth culture space made by young people, featuring topics such as race, class, gender, sexuality, disability and puberty, whilst also providing information about the realities of wider life. This publication is afraid of no taboo; we want young people to take ownership of their bodies and minds, and articulate the opinions of their generation. IceCream magazine aims to empower and inspire young people and enable them to question 
            p.lb For this first issue, the printing costs of the magazine were raised through
              = " "
              a(href="https://www.kickstarter.com/projects/494726909/icecream-magazine/description", target="_blank") Kickstarter
              = ", "
              | and we would like to say a huge thank you to everyone who donated and enabled the magazine to be physicalized.
            p.lb Secondly, we would like to say a further thanks to all the contributors who participated in the making of magazine. Without their hard work there would be no IceCream magazine.
