// issue-1
.cf-wrap#issue-1
  .cf-wrap-in
    .col-xs-12.col-sm-6.feature-bg
    .col-xs-12.col-sm-6.feature.img  
    .col-xs-12.col-sm-6.col-sm-offset-6.copy
      .container-fluid
        .col-xs-12
          h1.title Issue N&deg;1
          .col-xs-12.col-sm-6.col-sm-offset-6.no-padding
            p.lb IceCream is in search of an alternative to today’s media. We’re tired of the dishonesty, the endless stream of meaningless content and the boring ‘ideals’ that have overwhelmed our society.
          .col-xs-12.col-sm-6.col-sm-offset-6.no-padding
            p.lb We’re here to misbehave; and we’re going to misbehave in pink. Pink and everything it represents is symbolic of being female. But what does it actually suggest? ‘Girly’, delicate, silly, cute, and soft. But why do we have to stop there? IceCream wants to reclaim pink and have fun with its other labels, pink as powerful, daring, intelligent, outspoken, and exciting.
            p.lb In this first issue we’re going to question the taboos and rules that surround identity. We’re going to talk about gender, race, sex, class, sexuality, disability, the body, and celebrate diversity. If these topics of conversation are portrayed in a limited and repetitive way, we are going to offer an alternative to stimulate discussion.
            p.lb Setting up a magazine was a way of collecting a wide range of voices from young writers, artists, poets, journalists and photographers in a medium that is accessible to our generation.
            p.lb We hope the space is inspiring and confidence can be drawn from connecting to any of the topics or art presented.
            p.lb Katie &amp; Serena
