// read
.cf-wrap#read
  .cf-wrap-in
    .col-xs-12.pub
      iframe(src="https://view.publitas.com/icecream-magazine/issue-1/" frameborder="0" style="overflow:hidden;height: 100vh;" height="100%" width="100%")
                
