// contact
.cf-wrap#contact
  .cf-wrap-in
    .col-xs-12.col-sm-6.container-fluid.feature
    .col-xs-12.col-sm-6.col-sm-offset-6.copy
      .container-fluid
        .col-xs-12
          h1.title Contact
          <br>
          p The magazine is non-profit, and free copies have been distributed across the UK, in cafes, shops and community centers.
          p If you are a school or organization and would like to stock the magazine, please get in touch via these contact details.
          <br>
          a.social(href="mailto:contact@icecreammag.co.uk", target="_blank") contact@icecreammag.co.uk <br><br>
          a.social(href="mailto:submissions@icecreammag.co.uk ", target="_blank") submissions@icecreammag.co.uk <br><br>
          a.social.fb(href="https://www.facebook.com/IcecreamFeministArtMagazine", target="_blank")
            span.icon-facebook-official
            | facebook  
          <br>
