#navbar
  nav.navbar.navbar-default(role="navigation")
      .container-fluid
          .navbar-header
              button.navbar-toggle(data-toggle="collapse", data-target="#navbar-top-collapse-1")
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
          
            
            img(src="c/icm-vm_logo-ic.png", alt="Ice Cream Logo", class="logo")

          .collapse.navbar-collapse#navbar-top-collapse-1
            ul.nav.navbar-nav.navbar-left
              li
                  a(href="#jump")
                    span.icon-home-house-streamline
              li
                  a(href="#about") 
                    span.icon-food-ice-cream-streamline
                    | About
              li
                  a(href="#issue-1")
                    span.icon-book-read-streamline 
                    | Issue N&deg;1
                    
              li
                  a(href="#read")
                    span.icon-book-dowload-streamline 
                    | Read
              li
                  a(href="#contact") 
                    span.icon-map-pin-streamline 
                    | Contact 
                    
