doctype html
html
    head
        != partial("_partials/head")

    body
      
        header
            != partial("_partials/01-jump-1")
            != partial("_partials/header")

        main
            != yield

        footer
            != partial("_partials/footer")
            
        script(src="//cdn.rawgit.com/noelboss/featherlight/1.3.5/release/featherlight.min.js", type="text/javascript", charset="utf-8")
