!= partial("_partials/01-page-1")
!= partial("_partials/02-page-2")
!= partial("_partials/03-page-3")
!= partial("_partials/04-page-4")
!= partial("_partials/05-page-5")

.mastfoot
// p optional floating footer here
